@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");

/* Global CSS */
:root {
  --body-color: #b6cbce;
  --heading-color: #eef3db;
  --primary-base-color: #033f47;
  --secondary-base-color: #022a30;
  --primary-brand-color: #e0f780;
  --secondary-brand-color: #deff58;
  --white-color: #fff;
  --sidebar: 15rem;
  --base-font: "Bai Jamjuree";
}

* {
  font-family: var(--base-font), sans-serif;
}

body {
  background-color: var(--secondary-base-color);
  color: var(--body-color);
  font-family: var(--base-font), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
  color: var(--heading-color);
  font-weight: 700;
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: var(--body-color);
  transform: all 0.4s ease !important;
}

a:hover {
  color: var(--primary-brand-color);
}

img {
  max-width: 100%;
  height: auto;
}

.bg-base {
  background-color: var(--primary-base-color);
}

.custom-border-bottom {
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0.1);
}

.full-height {
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  border-bottom: 0.125rem solid rgba(255, 255, 255, 0.1);
}

.section-header {
  text-align: start;
  margin-bottom: 2rem;
}

.section-header h5 {
  text-transform: uppercase;
  color: var(--primary-brand-color);
}

.section-header h1 {
  text-transform: capitalize;
  font-weight: 700;
}

.shadow-effect {
  transition: all 0.4s ease;
}

.shadow-effect:hover {
  box-shadow: -0.25rem 0.25rem 0rem 0rem var(--primary-brand-color);
}

.text-brand {
  text-transform: capitalize;
  color: var(--primary-brand-color);
}

/* Global Buttons */
.btn {
  text-transform: capitalize;
  padding: 0.875rem 1.75rem;
  font-weight: 700;
}

.btn-brand {
  background-color: var(--primary-brand-color);
  border-color: var(--primary-brand-color);
  color: var(--primary-base-color);
}

.btn-brand:hover,
.btn-brand:focus {
  background-color: var(--secondary-brand-color);
  border-color: var(--secondary-brand-color);
  color: var(--secondary-base-color);
}

.custom-link {
  text-transform: capitalize;
  font-weight: 500;
  position: relative;
}

.custom-link::after {
  background-color: var(--primary-brand-color);
  transition: all 0.4s ease;
  position: absolute;
  content: "";
  height: 0.0625rem;
  width: 0%;
  left: 0;
  top: 110%;
}

.custom-link:hover::after {
  width: 100%;
}

/* Header */
.navbar {
  background-color: var(--primary-base-color);
}

.navbar .nav-link {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-color);
}

.navbar .nav-link.active,
.navbar .nav-link:hover {
  color: var(--primary-brand-color);
}

.navbar .navbar-brand img {
  border-radius: 50%;
  border: 0.375rem solid var(--primary-brand-color);
}

/* Home */
.home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-content h1 {
  text-transform: uppercase;
  font-weight: 700;
}

.home-content h1 span {
  color: var(--primary-brand-color);
}

.home-content p {
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}

/* About */
.about-item {
  background-color: var(--primary-base-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.about-item h4 {
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.about-item p {
  margin-bottom: 0;
}

/* Services */
.services .service-item {
  background-color: var(--primary-base-color);
  padding: 1.5rem;
  border-radius: 0.5rem;
}

.service-item h4 {
  text-transform: capitalize;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.service-item .icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--primary-brand-color);
  border-radius: 0.5rem;
}

.service-item .icon-box i {
  font-size: 2rem;
  color: var(--primary-base-color);
}

/* Work */
.work .work-item {
  background-color: var(--primary-base-color);
  padding: 1rem;
  border-radius: 0.5rem;
}

.work-item h4 {
  margin-top: 1rem;
  text-transform: capitalize;
  font-weight: 600;
}

.work-item .img-box {
  overflow: hidden;
  border-radius: 0.5rem;
}

.work-item .img-box img {
  transition: all 0.4s ease;
}

.work-item:hover img {
  transform: scale(1.1);
}

/* Review */
.reviews .review-item {
  background-color: var(--primary-base-color);
  border-radius: 0.5rem;
  padding: 1.5rem;
}

.review-item .icon-box i {
  color: var(--primary-brand-color);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.review-item .person h5 {
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 0.3125rem;
}

.review-item .person a {
  transition: all 0.4s ease;
}

.review-item .person a:hover {
  color: var(--primary-brand-color);
}

/* Blog */
.blog .blog-item {
  background-color: var(--primary-base-color);
  border-radius: 0.5rem;
  padding: 1rem;
}

.blog-item .img-box {
  overflow: hidden;
  border-radius: 0.5rem;
}

.blog-item .img-box img {
  transition: all 0.4s ease;
}

.blog-item:hover img {
  transform: scale(1.1);
}

.blog-item p {
  margin-top: 1rem;
  margin-bottom: 0;
  text-transform: capitalize;
}

.blog-item h4 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* Contact */
.contact .form-control {
  background-color: var(--primary-base-color);
  border-color: var(--primary-base-color);
  color: var(--body-color);
}

.contact .form-control:focus {
  border-color: var(--primary-brand-color);
  box-shadow: none;
}

.contact .form-control::placeholder {
  text-transform: capitalize;
  color: var(--body-color);
}

.contact input.form-control {
  height: 3rem;
}

.contact textarea.form-control {
  height: 7.5rem;
}

/* Footer */
.footer .footer-social a > i {
  font-size: 1.25rem;
  color: var(--white-color);
}

.footer .footer-social a {
  background-color: var(--primary-base-color);
  color: var(--primary-base-color);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
}
